* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}



.v40_223 {
  width: 100%;
  height: 1024px;
  background: url("../images/v40_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v40_224 {
  width: 100%;
  height: 93px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v40_225 {
  width: 319px;
  height: 967px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v40_226 {
  width: 204px;
  height: 97px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 43px;
  overflow: hidden;
}
.v40_227 {
  width: 140px;
  height: 61px;
  background: url("https://media.istockphoto.com/vectors/london-cab-gradient-vector-icon-for-dark-theme-vector-id1336660240?b=1&k=20&m=1336660240&s=612x612&w=0&h=BBWMyHDMDwzTYU_JhlLM4oIsnQ13nlb0fboA5j9Y7dE=");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v40_228 {
  width: 166px;
  height: 55px;
  background: rgba(255,99,146,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1241px;
  overflow: hidden;
}
.v40_229 {
  width: 209px;
  height: 90px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 41px;
  overflow: hidden;
}
.v40_230 {
  width: 209px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 43px;
  overflow: hidden;
}
.v40_231 {
  width: 209px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 41px;
  overflow: hidden;
}
.v40_232 {
  width: 209px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 41px;
  overflow: hidden;
}
.v40_233 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 87px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_234 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 311px;
  left: 95px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_235 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 442px;
  left: 95px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_236 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 578px;
  left: 101px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_237 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 706px;
  left: 109px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_238 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 1296px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_239 {
  width: 671px;
  height: 733px;
  background: rgba(243, 193, 232, 0.89);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 540px;
  overflow: hidden;
}
.v40_240 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 211px;
  left: 536px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v40_241 {
  width: 433px;
  height: 76px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 720px;
  overflow: hidden;
}
.v40_242 {
  width: 359px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 301px;
  left: 746px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v40_243 {
  width: 94px;
  height: 76px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 596px;
  overflow: hidden;
}
.v40_244 {
  width: 126px;
  height: 76px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 813px;
  overflow: hidden;
}
.v40_245 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 722px;
  left: 828px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v40_246 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 296px;
  left: 629px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  }
  
  body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  }
  
  .container {
  height: 900px;
  width: 400px;
  background-image: linear-gradient(#1e6b30, #308d46);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  position: absolute;
  border-bottom-left-radius: 180px;
  border-top-right-radius: 150px;
  }
  
  .main-content {
  height: 235px;
  background-color: #1b923700;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 80px;
  border-top: #1e6b3000;
  }
  
  .text {
  text-align: center;
  font-size: 300%;
  text-decoration: aliceblue;
  color: aliceblue;
  }
  
  .course {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  }
  
  .centre-content {
  height: 180px;
  margin: -70px 30px 20px;
  color: rgb(0, 7, 14);
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  padding-top: 0.5px;
 
  }
  
  .centre-content-h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: normal;
  }
  
  .price {
  font-size: 60px;
  margin-left: 5px;
  bottom: 15px;
  position: relative;
  }
  
  .pay-now-btn {
  cursor: pointer;
  color: rgb(14, 2, 2);
  height: 50px;
  width: 290px;
  border: none;
  margin: 5px 30px;
  background-color: rgba(71, 177, 61, 0);
  position: relative;
  }
  
  .card-details {
  background: rgba(101, 144, 108, 0);
  color: rgb(0, 0, 0);
  margin: 10px 30px;
  padding: 10px;
  /* border-bottom-left-radius: 80px; */
  }
  
  .card-details p {
  font-size: 15px;
  }
  
  .card-details label {
  font-size: 15px;
  line-height: 35px;
  }
  
  .submit-now-btn {
  cursor: pointer;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 240px;
  border: none;
  margin: 5px 30px;
  background-color: rgba(215, 77, 146, 0.856);
  }
  