<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/booknow.css" rel="stylesheet" /><title>Document</title></head><body><div class="v38_172">
        <div class="v38_173"></div><div class="v38_174"></div><div class="v38_175"></div><div class="v38_176"></div>
        <div class="v38_178"></div><div class="v38_179"></div><div class="v38_180"></div><div class="v38_181"></div>
        <div class="v38_182"></div><span class="v38_183">profile</span><span class="v38_184">book now</span>
        <span class="v38_185">my rides</span><span class="v38_186">support</span><span class="v38_187">wallet</span>
        <span class="v38_188">logout</span><div class="v38_189"></div><div class="v39_197"></div><span class="v38_193">Enter Pickup Location</span>
        <span class="v38_194">Enter Cab Type</span><span class="v39_198">Enter Drop Location</span><div class="v38_196"></div><div class="v38_198"></div>
        <span class="v38_199">Book Now</span><div class="v38_197"></div></div></body></html>