<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/payments.css" rel="stylesheet" />
    <title>Book Trip</title></head>
    <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc"
    ><div class="v40_223"><div class="v40_224"></div>
        <div class="v40_225"></div><div class="v40_226"></div><div class="v40_227"></div>
        <div class="v40_228"></div><div class="v40_229"></div><div class="v40_230"></div>
        <div class="v40_231"></div><div class="v40_232"></div>
        <a href="http://127.0.0.1:5000/user/{{userID}}" class="v40_233">profile</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/booknow" class="v40_234">book now</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/myrides" class="v40_235">my rides</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/support" class="v40_236">support</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/rate" class="v40_237">Rate</a>
        <a href="http://127.0.0.1:5000/" class="v40_238">logout</a>
        <div class="v40_239"></div>
        <span class="v40_240">

             
            <form autocomplete="off" method="POST" action="http://127.0.0.1:5000/user/{{userID}}/booktrip" id="booktrip">
                <div class="cross" onclick="document.getElementById('user/{{userID}}/booktrip').style.display='none';"></div>
                
                Enter Pickup Location:<br>
                <label for="pickup">Enter House No:  <input type="text" id="houseNo" name="houseNo"required></label> <br><br>
                <label for="pickup">Enter Street Name:  <input type="text" id="streetName" name="streetName"required></label> <br><br>
                <label for="pickup">Enter Pincode:  <input type="text" id="pincode" name="pincode"required></label> <br><br>
                <label for="pickup">Enter City:  <input type="text" id="city" name="city"required></label> <br><br>
                <label for="pickup">Enter Landmark:  <input type="text" id="landmark" name="landmark"required></label> <br><br>
                Enter Drop Location:<br>
                <label for="drop">Enter House No:  <input type="text" id="dhouseNo" name="dhouseNo"required></label> <br><br>
                <label for="drop">Enter Street Name:  <input type="text" id="dstreetName" name="dstreetName"required></label> <br><br>
                <label for="drop">Enter Pincode:  <input type="text" id="dpincode" name="dpincode"required></label> <br><br>
                <label for="drop">Enter City:  <input type="text" id="dcity" name="dcity"required></label> <br><br>
                <label for="drop">Enter Landmark:  <input type="text" id="dlandmark" name="dlandmark"required></label> <br><br>
                <p>Choose Cab type</p>	<p>   	
                    <label for="micro" ><input type="radio" name="cabType" id="micro" value="micro" >Micro </label><br>
                    <label for="mini"><input type="radio" name="cabType" id="mini" value="mini" required>Mini </label><br>
                    <label for="Prime Sedan"><input type="radio" name="cabType" id="Prime Sedan" value="Prime Sedan">Prime Sedan</label><br>
                    <label for="Prime SUV"><input type="radio" name="cabType" id="Prime SUV" value="Prime SUV">Prime SUV</label><br>
                    <label for="Auto"><input type="radio" name="cabType" id="Auto" value="Auto">Auto</label><br>
                    <label for="Bike"><input type="radio" name="cabType" id="Bike" value="Bike">Bike</label>
                    <br><br>
            </p> 
                
                <button id="submit" type="submit" value="submit"> Save Changes</button><br>
            </form>
                  
                  
                  
       


       

        </div>
       </div></body></html>