<!DOCTYPE html>
<html>
    <head>
        <title>ULA Customer Portal</title>
        <link href="/static/customer.css" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
            <h1>ULA CABS</h1>
        </div>
        <div class="below">
            <div class="column leftside">
                <ul class="sidebar">
                    <li>User Profile</li>
                    <li>Book your Trip</li>
                    <li>Your Rides</li>
                    <li>Support</li>
                    <li>About Us</li>
                    <li>LogOut</li>
                </ul>
            </div>
          
            <div class="column rightside">
              <h1>The City</h1>
              <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
              <p>You will learn more about web layout and responsive web pages in a later chapter.</p>
            </div>
          </div>        
    </body>
</html>