<!DOCTYPE html><html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/driverprofile.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/driverratings.css" rel="stylesheet" />
    
        <title> Driver profile </title>
    </head>
    <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc">
        <div class="v10_421">

            <div class="v19_240"></div>
            <div class="v61_183"></div><div class="v61_184"></div>
            <div class="v61_185"></div><div class="v61_186"></div>
            <span class="v61_259">logo</span><div class="v61_188"></div>
            <div class="v61_189"></div><div class="v61_190"></div>
            <div class="v61_191"></div><div class="v61_192"></div>
            <div class="v61_193"></div>
            <a href="www.google.com" class="v61_194">profile</span>
            <a href="www.google.com"  class="v61_195">Trip Records</a>
            <a href="www.google.com" class="v61_196">My Ratings</a>
            <a  href="www.google.com" class="v61_197">Ride requests</a>
            <a  href="www.google.com" class="v61_198">Register Cab </a>
            <a href="www.google.com" class="v61_199">logout</a>
            <a href="www.google.com" class="v61_200">Wallet</a>

            <div class="v61_201">

                <h1>Details</h1>
                <br>

                ID: {{driverID}}
                <br>
                <br>

                Name: {{name}}
                <br>
                <br>
                Age:  {{age}}
                <br>
                <br>
                {% if(gender=='m') %}
                Gender: 'MALE'
                {% endif %}
                {% if(gender=='f') %}
                Gender: 'FEMALE'
                {% endif %}
                {% if(gender=='o') %}
                GENDER: 'OTHER'
                {% endif %}
                <br>
                <br>
                Phone No: {{phoneNo}}
                <br>
                <br>
                Total Earnings: {{totalAmountEarned}}
                <br>
                <br>
                Ratings: {{ratings}}
                <br>
                <br>
                Vehicle ID: {{vehicleID}}
                <br>
                <br>





            </div>
            <span class="v61_202"></span>
        </div>
      
            </span>
            <span class="v61_181">
            </span>
            </div>
</body>
</html>