<!DOCTYPE html>
<html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/drivertrips.css" rel="stylesheet" />
    
   
    
    <title>drivertrips</title></head>
   
        
    <div class="v61_182">
        
        <div class="v61_255"><div class="v61_256"></div> <body  background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc"></body><div class="v61_257"></div>
        <div class="v61_258"></div><div class="v61_259"></div><a href="www.google.com" class="v61_259">logo</a>
        <div class="v61_261"></div><div class="v61_262"></div><div class="v61_263"></div>
        <div class="v61_264"></div><div class="v61_265"></div><div class="v61_266"></div>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}" class="v61_267">profile</span>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/TripRecords" class="v61_268">Trip Records</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/MyRatings" class="v61_269">My Ratings</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/RideRequests" class="v61_270">Ride requests</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}"class="v61_271">Register Cab </a>
        <a href="http://127.0.0.1:5000/" class="v61_272">logout</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/Wallet" class="v61_273">Wallet</a>
        <div class="v61_201"></div>
        <span class="v61_202">
         Previous Trip Details here
        {% if rows|length < 1 %}
        <h2 style="text-align: center">No trips done till now!</h2>
        {% else %}
            {% for row in rows %}
                    <br><br>
                    Trip ID:   {{row[0]}} <br>
                    
                    Date:   {{row[1]}} <br>
               
                    Start Time:  {{row[2]}}<br>
                
                    End Time:  {{row[3]}}<br>
               
                    Price:  Rs.{{row[4]}}<br>
                
                    Distance Covered:  {{row[5]}}km<br>
                    
                    Feedback: {{row[6]}}<br><br>                   

                    
            {% endfor %}
        {% endif %}

        </span></div>



</body></html>