<!DOCTYPE html><html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/driverprofile.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/driverratings.css" rel="stylesheet" />
    
        <title> Driver profile </title>
    </head>
    <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc">
        <div class="v10_421">

            <div class="v19_240"></div>
            <div class="v61_183"></div><div class="v61_184"></div>
            <div class="v61_185"></div><div class="v61_186"></div>
            <span class="v61_259">logo</span><div class="v61_188"></div>
            <div class="v61_189"></div><div class="v61_190"></div>
            <div class="v61_191"></div><div class="v61_192"></div>
            <div class="v61_193"></div>
            <a href="www.google.com" class="v61_194">profile</span>
            <a href="www.google.com"  class="v61_195">Trip Records</a>
            <a href="www.google.com" class="v61_196">My Ratings</a>
            <a  href="www.google.com" class="v61_197">Ride requests</a>
            <a  href="www.google.com" class="v61_198">Register Cab </a>
            <a href="www.google.com" class="v61_199">logout</a>
            <a href="www.google.com" class="v61_200">Wallet</a>

            <div class="v61_201">

                <h1>Details</h1>
                <br>

                Name: {{name}}
                <br>
                <br>
                Age:  {{age}}
                <br>
                <br>


                <button id="Modify">Modify!</button>

                <div class="v31_185" id="customersign">
                    <form autocomplete="off">
                        <div class="cross" onclick="document.getElementById('customersign').style.display='none';">X</div>
                        <label for="user">Username: <input type="text" id="user" name="user" required></label><br><br>
                        <label for="pwd">Password:  <input type="password" id="pwd" name="pwd"required></label> <br><br>
                        <label for="fname">First name: <input type="text" id="fname" name="fname " required></label><br><br>
                        <label for="lname">Last name:  <input type="text" id="lname" name="lname"required></label> <br><br>
                        <label for="phone">Phone No: <input type="tel" id="phone" placeholder="XXXX-XXX-XXX" name="phone" pattern="[0-9]{10}" required></label><br><br>
                        <label for="Cab">Cab Id <input type="text" id="fname" name="fname " required></label><br>
                        <br>Gender:	    	
                        <label for="male" ><input type="radio" name="gender" id="male" value="male" >Male </label>
                        <label for="female"><input type="radio" name="gender" id="female" value="female" required>Female</label>
                        <label for="others"><input type="radio" name="gender" id="others" value="others">Others</label><br><br>
                        
                        <button id="submit" type="submit" value="submit"> Save Changes</button>
                    </form>
                </div>



            </div>
            <span class="v61_202"></span>
        </div>
      
            </span>
            <span class="v61_181">
            </span>
            </div>
</body>
</html>