<!DOCTYPE html>
<html>
        <head>    
                <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
                <link href="/static/driverratings.css" rel="stylesheet" />             
                <title>driverratings</title>       
        </head>

        <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc">

            <div class="v61_182">
                <div class="v61_183"></div>
                <div class="v61_184"></div>
                <div class="v61_185"></div>
                <div class="v61_186"></div>
                <span class="v61_259">logo</span>
                <div class="v61_188"></div>
                <div class="v61_189"></div>
                <div class="v61_190"></div>
                <div class="v61_191"></div>
                <div class="v61_192"></div>
                <div class="v61_193"></div>
                <a href="http://127.0.0.1:5000/driver/{{driverID}}" class="v61_194">profile</span>
                <a href="http://127.0.0.1:5000/driver/{{driverID}}/TripRecords"  class="v61_195">Trip Records</a>
                <a href="http://127.0.0.1:5000/driver/{{driverID}}/MyRatings" class="v61_196">My Ratings</a>
                <a  href="http://127.0.0.1:5000/driver/{{driverID}}/RideRequests" class="v61_197">Ride requests</a>
                <a href="http://127.0.0.1:5000/" class="v61_199">logout</a>
                <a href="http://127.0.0.1:5000/driver/{{driverID}}/Wallet" class="v61_200">Wallet</a>
                <div class="v61_201"></div>
                <span class="v61_202"> </span>
            </div>

            <div class="v61_201"></div>

            <span class="v61_202">
                 Ratings of all the trips of this driver 
                <br>
                <br>
                1 star : {{ones}}
                <br>
                <br>
                2 star : {{twos}}
                <br>
                <br>
                3 star :{{threes}}
                <br>
                <br>
                4 star : {{fours}}
                <br>
                <br>
                5 star : {{fives}}
                <br>
                <br>
                <b>
                AVERAGE RATING : {{avg}}
            </span>
               
        </body>
</html>