<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/driverwallet.css" rel="stylesheet" /><title>Document</title></head>
    <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc">

        <div class="v61_255"><div class="v61_256"></div><div class="v61_257"></div>
        <div class="v61_258"></div><div class="v61_259"></div><a href="www.google.com" class="v61_260">logo</a>
        <div class="v61_261"></div><div class="v61_262"></div><div class="v61_263"></div>
        <div class="v61_264"></div><div class="v61_265"></div><div class="v61_266"></div>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}" class="v61_267">profile</span>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/TripRecords" class="v61_268">Trip Records</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/MyRatings" class="v61_269">My Ratings</a>
        <a href="http://127.0.0.1:5000/driver/{{driverID}}/RideRequests" class="v61_270">Ride requests</a>
        <a href="http://127.0.0.1:5000/" class="v61_272">logout</a>
        <a a href="http://127.0.0.1:5000/driver/{{driverID}}/Wallet" class="v61_273">Wallet</a>
        <div class="v61_274"></div>
        <span class="v64_122">Amount of money present in the wallet: </span>
        <span class="v64_123">Money Earned in the last trips record:
            

        </span>
        <div class="v64_125" style="text-align:center; font-size:30px;">{{sum}}</div>
        <div class="v64_126" style="text-align:center;font-size:20px;overflow:hidden;">
            {% if row|length < 1 %}
                <h2 style="text-align: center">No Amount earned!</h2>
            {% else %}
                {% for i in row %}
                   
                        <br><br>
                        Trip ID:   {{i[0]}} <br>
                        Payment:   {{i[1]}}                 
                        
                    <br><br>  
                   
                    

                    
            {% endfor %}
        {% endif %}

        </div></div></body></html>