<html>
    <head>
        <title>Login Page</title>
        <meta charset="utf-8">
        <title>ULA CABS!</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/styleslogin.css">
    </head>
    <body>
       
        <div id="upper">
            <img src="/static/images/taxi-home.png">
            <div id="hometext">
                <h1> ULA CABS</h1>
                <h2>Explore new ways to travel with ULA!</h2>
            </div>
        </div>

        <div id="lower">
            <div class="home">
                <button class="homesign"> Sign up</button>
                <button class="homelogin"> Login</button>
            </div>    

            <div class="login">
                <button class="logincustomer"> Login as a Customer</button>
                <button class="logindriver"> Login as a Driver</button>
            </div>  

            <div class="signup">
                <button class="signupcustomer"> Sign up as Customer </button>
                <button class="signupdriver"> Sign up as Driver</button>
            </div> 

            <div class="goback" >
                <button>Back to Home!</button>
            </div>

        </div>

        <div class="forms" id="customersign">
            <form autocomplete="off" method="POST" action="http://127.0.0.1:5000/customersign">
                <div class="cross" onclick="document.getElementById('customersign').style.display='none';">X</div>
                
                <label for="pwd">Password:  <input type="password" id="pwd" name="pwd"required></label> <br><br>
                <label for="fname">First name: <input type="text" id="fname" name="fname " required></label><br><br>
                <label for="lname">Last name:  <input type="text" id="lname" name="lname"required></label> <br><br>
                <label for="phone">Phone No: <input type="tel" id="phone" placeholder="XXXX-XXX-XXX" name="phone" pattern="[0-9]{10}" required></label><br><br>
                <label for="birthday">Date of Birth: <input type="date" id="birthday" name="birthday" required></label><br>
                <br>Gender:	    	
                <label for="male" ><input type="radio" name="gender" id="male" value="male" >Male </label>
                <label for="female"><input type="radio" name="gender" id="female" value="female" required>Female</label>
                <label for="others"><input type="radio" name="gender" id="others" value="others">Others</label><br><br>
                <button id="submit" type="submit" value="submit"> Submit</button>
            </form>
        </div>

        <div class="forms" id="driversign">
            <form autocomplete="off" method="POST" action="http://127.0.0.1:5000/driversign">
                <div class="cross" onclick="document.getElementById('driversign').style.display='none';">X</div>
               
                <label for="pwd">Password:  <input type="password" id="pwd" name="pwd"required></label> <br><br>
                <label for="fname">First name: <input type="text" id="fname" name="fname " required></label><br><br>
                <label for="lname">Last name:  <input type="text" id="lname" name="lname"required></label> <br><br>
                <label for="phone">Phone No: <input type="tel" id="phone" placeholder="XXXX-XXX-XXX" name="phone" pattern="[0-9]{10}" required></label><br><br>
                <label for="birthday">Date of Birth: <input type="date" id="birthday" name="birthday" required></label><br>
                <br>Gender:	    	
                <label for="male" ><input type="radio" name="gender" id="male" value="male" >Male </label>
                <label for="female"><input type="radio" name="gender" id="female" value="female" required>Female</label>
                <label for="others"><input type="radio" name="gender" id="others" value="others">Others</label><br><br>
                <label for="licenseNo">LicenseNo: <input type="tel" id="licenseNo" placeholder="ABC12345" name="licenseNo" pattern="[A-Z]{3}-[0-9]{5}"></label><br><br>
                <button id="submit" type="submit" value="submit"> Submit</button>
            </form>
        </div>

        <div class="forms" id="driverlogin">
            <form autocomplete="off" method="POST" action="http://127.0.0.1:5000/driverlogin">
                <div class="cross" onclick="document.getElementById('driverlogin').style.display='none';">X</div>
                <label for="user">Username: <input type="text" id="user" name="user" required></label><br><br>
                <label for="pwd">Password:  <input type="password" id="pwd" name="pwd"required></label> <br><br>                
                <button id="submit" type="submit" value="submit">Login</button>
            </form>
        </div>

        <div class="forms" id="customerlogin">
            <form autocomplete="off" method="POST" action="http://127.0.0.1:5000/customerlogin">
                
                <div class="cross" onclick="document.getElementById('customerlogin').style.display='none';">X</div>
                <label for="phone">Phone No: <input type="tel" id="phone" placeholder="XXXX-XXX-XXX" name="phone" pattern="[0-9]{10}" required></label><br><br>
                <label for="pwd">Password:  <input type="password" id="pwd" name="pwd"required></label> <br><br>                
                <button id="submit" type="submit" value="submit">Login</button>
            </form>
        </div>

        <script src="/static/index.js" charset="utf-8"></script>
    </body>
</html