<!DOCTYPE html>
<html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/myrides.css" rel="stylesheet" />
    <title>Document</title><link href="./css/main.css" rel="stylesheet" />
    <title>Document</title></head><body><div class="v40_199"><div class="v40_200">

    </div><div class="v40_201"></div><div class="v40_202"></div><div class="v40_203">

    </div><div class="v40_204"></div><div class="v40_205"></div><div class="v40_206">

    </div>
    <div class="v40_207">

    </div><div class="v40_208">

    </div>
    <a class="v40_209" href="http://127.0.0.1:5000/user/{{userID}}">profile</a>
    <a class="v40_210" href="http://127.0.0.1:5000/user/{{userID}}/booknow">book now</a>
    <a class="v40_211" href="http://127.0.0.1:5000/user/{{userID}}/myrides">my rides</a>
    <a class="v40_212" href="http://127.0.0.1:5000/user/{{userID}}/support">support</a>
    <a class="v40_213" href="http://127.0.0.1:5000/user/{{userID}}/rate">rate</a>
    <a class="v40_214" href="http://127.0.0.1:5000/">logout</a>
    <div class="v40_215">

    </div>
    <span class="v40_216">  My Rides </span>
    <div class="v40_249">
    </div>
</div>

    <span class="v40_253">
        {% if rows|length < 1 %}
        <h2 style="text-align: center">No rides till now :( Ride with us now!</h2>
        {% else %}
        <table>
            <tr>
                <td>
                    Trip ID
                </td>
                <td>
                    Date
                </td>
                <td>
                    Start Time
                </td>
                <td>
                    End Time
                </td>
                <td>
                    Status
                </td>
                <td>
                    Price
                </td>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[12]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[7]}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </span>

</body>
    </html>