<!DOCTYPE html>
<html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/myrides.css" rel="stylesheet" />
    <title>Document</title><link href="./css/main.css" rel="stylesheet" />
    <title>Document</title></head><body><div class="v40_199"><div class="v40_200">

    </div><div class="v40_201"></div><div class="v40_202"></div><div class="v40_203">

    </div><div class="v40_204"></div><div class="v40_205"></div><div class="v40_206">

    </div><div class="v40_207"></div><div class="v40_208"></div><span class="v40_209">profile</span><span class="v40_210">book now</span><span class="v40_211">my rides</span>
    <span class="v40_212">support</span><span class="v40_213">wallet</span><span class="v40_214">logout</span><div class="v40_215">

    </div><span class="v40_216">  My Rides </span><div class="v40_249"></div><span class="v40_253">Trip 1</span></div></body>
    </html>