<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/payments.css" rel="stylesheet" />
    <title>payments</title></head>
    <body background="https://www.google.com/maps/d/thumbnail?mid=1GklQmWXAdXs5Tudj0yXad81_fxc"
    ><div class="v40_223"><div class="v40_224"></div>
        <div class="v40_225"></div><div class="v40_226"></div><div class="v40_227"></div>
        <div class="v40_228"></div><div class="v40_229"></div><div class="v40_230"></div>
        <div class="v40_231"></div><div class="v40_232"></div><a href="https://www.google.co.in/" class="v40_233">profile</a>
        <a href="https://www.google.co.in/" class="v40_234">book now</a><a href="https://www.google.co.in/" class="v40_235">my rides</a>
        <a href="https://www.google.co.in/" class="v40_236">support</a><a href="https://www.google.co.in/" class="v40_237">Rate</a>
        <a href="https://www.google.co.in/" class="v40_238">logout</a><div class="v40_239"></div>
        <span class="v40_240">

             
                <form action="/action_page.php"><p style="font-size:15px;">Choose a payments option: </p> 
                    <input list="payments" name="payments">
                    <datalist id="payments">
                      <option value="Cash">
                      <option value="PayTM">
                      <option value="GooglePay">
                      <option value="Credit or Debit Card">
                   
                    </datalist>
                    <input type="submit">
                  </form>
                  <form action="/action_page.php"><p style="font-size:15px;"><b>Choose a coupon: </p> 
                    <input list="coupons" name="coupons">
                    <datalist id="coupons">
                      <option value="abcd56">
                     
                      <option value="M34567">
                      <option value="Ty67">
                   
                    </datalist>
                    <input type="submit">
                  </form>
                  
                  
                  
               <div class="card-details">
          
                <div class="card-number">
                  <label> Card Number </label>
                  <input
                    type="text"
                    class="card-number-field"
                    placeholder="###-###-###"/>
                </div>
                <br />
                <div class="date-number">
                  <label> Expiry Date </label>
                  <input type="text" class="date-number-field" 
                         placeholder="DD-MM-YY" />
                </div>
          
                <div class="cvv-number">
                  <label> CVV number </label>
                  <input type="text" class="cvv-number-field" 
                         placeholder="xxx" />
                </div>
                <div class="nameholder-number">
                  <label> Card Holder name </label>
                  <input
                    type="text"
                    class="card-name-field"
                    placeholder="Enter your Name"/>
                </div>
                <button type="submit" 
                        class="submit-now-btn">
                  submit
                </button>
              </div>
            </div>
            <script src="/static/index.js" charset="utf-8"></script>
       


       

        </div>
       </div></body></html>