<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/payments.css" rel="stylesheet" />
    <title>Document</title></head><body><div class="v40_223"><div class="v40_224"></div>
        <div class="v40_225"></div><div class="v40_226"></div><div class="v40_227"></div>
        <div class="v40_228"></div><div class="v40_229"></div><div class="v40_230"></div>
        <div class="v40_231"></div><div class="v40_232"></div><span class="v40_233">profile</span>
        <span class="v40_234">book now</span><span class="v40_235">my rides</span>
        <span class="v40_236">support</span><span class="v40_237">wallet</span>
        <span class="v40_238">logout</span><div class="v40_239"></div>
        <span class="v40_240">Payment Options</span><div class="v40_241">

        </div><span class="v40_242">Add Payment Option</span><div class="v40_243"></div>
        <div class="v40_244"></div><span class="v40_245">Save</span><span class="v40_246">+</span></div></body></html>