<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/main.css" rel="stylesheet" />
        
        <title>Document</title>
    </head>
    <body>
        <div class="v31_174">
        <div class="v31_175"></div>
        <div class="v31_178"></div>
        <span class="v31_179">logo</span>
        <div class="v31_180"></div>
        <div class="v31_183"><span class="v31_190">logout</span></div>

        

        </div>>

        <div class="v31_185" id="customersign">
            <div> 
                <h1>Details</h1>
                    <br>
    
                    ID: {{userID}}
                    <br>
                    <br>
    
                    Name: {{name}}
                    <br>
                    <br>
                    Phone No: {{phoneNo}}
                    <br>
                    <br>
                    Age:  {{age}}
                    <br>
                    <br>
                    {% if(gender=='m') %}
                    Gender: 'MALE'
                    {% endif %}
                    {% if(gender=='f') %}
                    Gender: 'FEMALE'
                    {% endif %}
                    {% if(gender=='o') %}
                    GENDER: 'OTHER'
                    {% endif %}
                    <br>
                    <br>
                </div>
            
        </div>
        <!-- <script src="/static/index.js" charset="utf-8"></script> -->

    </body>
</html>