<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/rate.css" rel="stylesheet" /><title>rate</title></head><body>
        <div class="v40_284">
        <div class="v40_285"></div><div class="v40_286"></div><div class="v40_287"></div><div class="v40_288"></div>
        <div class="v40_289"></div><div class="v40_290"></div>
        <a  href="http://127.0.0.1:5000/user/{{userID}}/support" class="v40_291">support</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/rate" class="v40_292"style="color:black;">Rate</a>
        <div class="v40_293"></div>
        <a class="v40_294" href="http://127.0.0.1:5000/user/{{userID}}">profile</a>
        <a class="v40_295" href="http://127.0.0.1:5000/user/{{userID}}/booknow">book now</a>
        <a class="v40_296" href="http://127.0.0.1:5000/user/{{userID}}/myrides">my rides</a>
        <a href="http://127.0.0.1:5000/user/{{userID}}/support" class="v40_297" style="color: white;">support</a>
        <a class="v40_299" href="http://127.0.0.1:5000/">logout</a><div class="v40_300"></div>
        <div class="v40_301" style="margin-bottom:10px">Rate My Trip !</div>
                  
    
    </a>
            <span class="v40_302">
                <img class="img1" src="https://loading.io/s/icon/ah6xlv.svg"
               
                style="float:right">


                <br>
                
                <form autocomplete="off">
                <label for="* " ><input type="radio" name="gender" id="male" value="* " >1</label>
                <br>
                <label for="**"><input type="radio" name="gender" id="female" value="**" required>2</label><br>
                <label for="***"><input type="radio" name="gender" id="others" value="***">3</label><br>
                <label for="****" ><input type="radio" name="gender" id="male" value="****" >4 </label><br>
                <label for="*****"><input type="radio" name="gender" id="female" value="*****"required>5</label><br><br>

                <button id="submit" type="submit" value="submit"> Submit Rating </button>
               </form>
               <script src="/static/index.js" charset="utf-8"></script>


     

</span>


</div>
</body></html>
