<!DOCTYPE html>
<html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
    <title>Document</title></head><body><div class="v10_421">
        <div class="v19_240"></div><div class="v23_242">

        </div><div class="v27_158"></div><div class="v27_170">

        </div class="v27_172">
        <div class="v27_171">
        </div><div class="v27_159" >

        </div><div class="v27_161"></div><div class="v27_162">

        </div><div class="v27_160"></div>
        <a class="v27_163" href="profile.html">Profile</a>
        <a class="v27_166" href="index.html">book now</a>
        <a class="v27_167" href="support.html">support</a>
        <a class="v27_169" href="rate.html">rate</a>
        <a class="v27_159" style="text-align: center;" href="myrides.html">my rides</a>
        <div style="margin-right: 90px">  <a class="v27_173" href="">logout</a></div></div>
       
    </body>
    </html>